.delete_button {
  background-image: url(../../../assets/images/delete.jpg);
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  margin:10px 10px;
  cursor: pointer;

  position: absolute;
  bottom: 10px;
  right: 0;
}

.delete_button:hover {
  background-image: url(../../../assets/images/delete.jpg);
  background-size: cover;
  width: 40px;
  height: 40px;
  border: none;
  margin:10px 10px;
  cursor: pointer;
}

.edit_button {
  background-image: url(../../../assets/images/edit.png);
  background-size: cover;
  width: 50px;
  height: 50px;
  border: none;
  margin:10px 10px;
  cursor: pointer;

  position: absolute;
  bottom: 10px;
  right: 50px;
}

.form-style {
  position: relative;
  min-height: 500px;
  width: 500px;
  padding: 20px;
  border-radius: 8px;
  font-family: Open Sans;
  font-weight: 300;
  margin: 100px auto auto 100px;
  background: #ffffff;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  float: left
}


label[type="text"] {
  background: rgba(255, 255, 255, .1);
  border: none;
  border-radius: 4px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  display: flex;
  justify-content: center;
}

.center {
  text-align: center;
}


input,
select {
  background: rgba(255, 255, 255, .1);
  border: none;
  border-radius: 4px;
  margin: 0;
  outline: 0;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  background-color: #e8eeef;
  color: #8a97a0;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;

}

.bolded {
  font-weight: bold;
}

