<div class="container mt-3">
  <form (ngSubmit)="searchEvent(myForm)" #myForm="ngForm">
    <div class="form-floating mb-3 mt-3">
      <input type="text" name="keyword" [(ngModel)]="keyword" class="form-control" placeholder="Enter a value">
      <label for="keyword">Keyword</label>
    </div>
    <div class="form-floating mb-3 mt-3">
      <input type="text" name="location" [(ngModel)]="location" class="form-control"  placeholder="Enter a value">
      <label>Location</label>
    </div>
    <div class="form-floating mb-3 mt-3">
      <input type="date" name="fromDate" [(ngModel)]="fromDate" class="form-control">
      <label>From Date</label>
    </div>
    <div class="form-floating mb-3 mt-3">
      <input type="date" name="toDate" [(ngModel)]="toDate" class="form-control">
      <label>To Date</label>
    </div>
    <button class="btn btn-primary">Search Event</button>
  </form>
</div>
