<head>
  <link rel="stylesheet" href="app.component.css">
</head>

<div class="content">
  <h1> Welcome to {{ title }} </h1>

  <table class="styled-table styled-table1">
    <thead>
    <tr>
      <th>Item</th>
      <th>Category</th>
      <th>Price</th>
      <th>Buy Item</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menuItem of menuItemsArray">
      <td>{{menuItem.item}}</td>
      <td>{{menuItem.category}}</td>
      <td>{{menuItem.price|currency}}</td>
      <td><button (click)="buyItem(menuItem)" class='button'><span>Buy</span></button></td>
    </tr>
  </tbody>
  </table>

  <br>
  <h2>Bought Items:</h2>
  <button (click)="reset()">Reset Order</button>
  <table class="styled-table styled-table2">
    <thead>
    <tr>
      <th>Item</th>
      <th>Category</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let menuItem of menuItemsPurchasedItems">
      <td>{{menuItem.item}}</td>
      <td>{{menuItem.category}}</td>
      <td>{{menuItem.price|currency}}</td>
    </tr>
    <tr>
      <td><b>Total Price</b></td>
      <td></td>
      <td><b>{{totalPrice|currency}}</b></td>
    </tr>
  </tbody>
  </table>

    <!-- Footer -->
    <div id="footer">
    <hr>
    <footer>
      Find this project on github&nbsp;
      <a href="https://github.com/jovandrei/AngularTest/tree/master/src" target="_blank" rel="noopener">
        <div class="github-star-badge">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
        </div>
        https://github.com/jovandrei/AngularTest/tree/master/src
        <div class="github-star-badge">
          <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 17.27L18.18 21l-1.64-7.03L22 9.24l-7.19-.61L12 2 9.19 8.63 2 9.24l5.46 4.73L5.82 21z"/></svg>
        </div>
      </a>

  </footer>
</div>
</div>

