<div>
  <h1>Bucket List</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Event Id</th>
        <th>Event Name</th>
        <th>Event Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bucketListElement of getBucketListArray(); let i = index">
        <td><a routerLink="/ticketMaster/{{bucketListElement.eventId}}">{{bucketListElement.eventId}}</a></td>
        <td>{{ticketMasterEventsInterfaceArray[i]._embedded.events[0].name}}</td>
        <td>{{ticketMasterEventsInterfaceArray[i]._embedded.events[0].dates.start.localDate|date}}</td>
        <td><button (click)="deleteItem(bucketListElement._id)" class="btn btn-danger">x</button></td>
      </tr>
    </tbody>
  </table>
</div>
